# folders
/node_modules
/dist
/build
/src/public

# Logs
.DS_Store
.cache
*.log

# netlify
.netlify

# Editor directories and files
.vscode
*.sublime-workspace
*.code-workspace

# packages
package-lock.json
